:root {
    --background-color-start: hsl(0, 0%, 100%);
    --background-color-end: hsl(330, 100%, 88%);
    --font-color: #333;
    --font-family: 'Montserrat', sans-serif;
    --primary-color: #e91e63;
}

nav 
{
    #margin: 100px auto;
    width: 100%;
    height: 100px;
    background: #ff6e90;
}
 
nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
nav .main_pages a 
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white;
}
 
nav a:hover 
{
    background: #fc5d83;
}

body, html {
    margin: 0;
    padding: 0;
    height: 200%;
    font-family: var(--font-family);
    background-color: var(--background-color-start);
    transition: background-color 0.5s;
}

.content {
    position: relative;
    z-index: 1;
    padding: 40px 20px;
    text-align: center;
}

.content h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--primary-color);
    margin: 0;
}

.content p {
    font-size: 1.5em;
    font-weight: 400;
    color: var(--font-color);
    margin: 10px 0 0 0;
}

.text-brut-container {
    margin-top: 20px;
    text-align: left;
}

.text-brut-container h2 {
    font-size: 1.5em;
    color: var(--primary-color);
}

#textBrut {
    width: 80%;
    margin: 10px 50px 20px;
    padding: 10px 10px 20px 10px; 
    font-size: 1em;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-family: var(--font-family);
    white-space: pre-wrap; /* Preserve whitespace and line breaks, and wrap long lines */
    background-color: #f9f9f9;
    overflow-wrap: break-word; /* Break long words */
}

 .note {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
}

.spacer {
    height: 150vh; /* To create enough space for scrolling */
}